:root {
    --purple: #8e44ad;
    --verde: #2ecc71;
    --black: #000;
    --white: #fff;
  }
  .pp{
    cursor: pointer;
  }
  #vote {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .logout{
    background-color: rgb(255, 102, 102);
  }
  .logout:hover{
    background-color: #fff;
    color: rgb(255, 102, 102);
  }
  .card {
    background-color: var(--black);
    border: 2px solid var(--purple);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% / 3 - 40px); 
    /* Three cards per row */
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    min-width: 30rem;
  }
  .vote{
    margin: 0 auto;
    width: 490px;
  }
  .modal::-webkit-scrollbar {
    display: none;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .btn_back{
    display: flex;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  .close-modal{
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .card img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .titleAlbum {
    color: var(--black);
    padding: 10px 15px;
    background-color: var(--purple);
    text-align: center;
    font-size: 1.2em;
  }
  
  .card p {
    padding: 15px;
    color: var(--white);
    background-color: var(--black);
  }
  
  .btn_stats, .btn_vote {
    background-color: var(--verde);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn_stats:hover, .btn_vote:hover {
    background-color: var(--purple);
  }
  .withVoto{
    background-color: rgb(255, 102, 102);
  }
  @media screen and (max-width: 768px) {
    .card {
      max-width: 400px;/* Two cards per row for smaller screens */
    }
    .modal{
      width: 75%;
      /* max-width: 100rem; */
    }
  }
  
  @media (max-width: 425px) {
    

     .vote,.card{
      max-width: 180px;
    } 
    /* .vote{
      width: 300px;
    } */
    /* .vote{
      margin: 0 auto;
    } */
    .card p{
      font-size: 8px;
      max-width: 40%;
      margin: 0 auto;
    }
    .card h2{
      font-size: 13px;
      max-width: 40%;
      margin: 0 auto;
      margin-top: 20px;
    }
    .card img{
      max-width: 30%;
    }

  }
  
  